<mj-section padding-top="60px">
    <mj-column background-color="#495057">
        <mj-text line-height="1.8" font-size="11px" color="#FFFFFF" align="center">
            你會收到這封郵件，是因為你是資料庫練功房的練習學生。<br>
            <a href="https://dbplay.pan93.com/feedback?url=mail://html"
               style="color: #FFFFFF;">回報信件問題</a>
        </mj-text>
    </mj-column>
</mj-section>
