parameters:
    level: max
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    scanDirectories:
        - var/cache
        - vendor/symfony/dependency-injection
    symfony:
        consoleApplicationLoader: tests/console-application.php
