<div {{ attributes.defaults({class: 'app-challenge-comments', 'aria-hidden': not app_features_comment}) }}>
    {% if app_features_comment %}
        <div class="app-challenge-comments__new mb-4">
            <twig:Challenge:Comments:CommentForm :question="question" :commenter="currentUser" />
        </div>

        <div class="app-challenge-comments__comments vstack gap-2">
            {% for comment in this.comments %}
                <twig:Challenge:Comments:Comment key="app-question-{{ question.id }}-comment-{{ comment.id }}" :comment="comment" :currentUser="currentUser" />
            {% else %}
                <div class="text-muted">尚無留言。成為第一個留言者吧！</div>
            {% endfor %}
        </div>
    {% endif %}
</div>
