<section {{ attributes.defaults({ class: "challenge-description" }) }}>
    <div class="mb-4">
        {{ question.description|raw }}
    </div>

    <h5>輸出格式</h5>
    <p>欄位順序分別為：<code>{{ this.columnsOfAnswer|joinToQuoted }}</code>。</p>
</section>
