{% set previousQuery = this.previousQuery %}

<section {{ attributes.defaults({class: 'challenge-sql-executor'}|merge(stimulus_controller('challenge-executor', {
    editorSelector: '.challenge-sql-executor__editor',
    submitButtonSelector: '.challenge-sql-executor__action__submit',
}))) }} data-last-query="{{ previousQuery }}">
    <section class="challenge-sql-executor__actions hstack">
        <div class="challenge-sql-executor__actions__left me-auto">
            {% block actions %}{% endblock %}
        </div>

        <div class="challenge-sql-executor__actions__right">
            <button type="button" class="btn btn-primary challenge-sql-executor__action__submit">
                <i class="bi bi-send"></i>
                提交
            </button>
        </div>
    </section>
    <hr>
    <div class="challenge-sql-executor__editor border rounded"></div>
</section>
