<section {{ attributes.defaults({ class: "challenge-sql-executor" }|merge(stimulus_controller('challenge-executor', {
    modelName: 'query',
    editorSelector: '#challenge-sql-executor__editor',
}))) }}>
    <section class="challenge-sql-executor__actions hstack">
        <div class="challenge-sql-executor__actions__left me-auto">
            {% block actions %}{% endblock %}
        </div>

        <div class="challenge-sql-executor__actions__right">
            <button type="button" class="btn btn-primary"
                    data-loading="model(query)|addAttribute(disabled)"
                    data-action="live#action"
                    data-live-action-param="execute">
                <i class="bi bi-send"></i>
                提交
            </button>
        </div>
    </section>
    <hr>
    <div id="challenge-sql-executor__editor" class="border rounded"></div>
</section>