{% set previousQuery = this.previousQuery %}

<section {{ attributes.defaults({class: 'challenge-sql-executor'}|merge(stimulus_controller('challenge-executor', {
    modelName: 'query',
    editorSelector: '.challenge-sql-executor__editor',
}))) }} data-last-query="{{ previousQuery }}">
    <section class="challenge-sql-executor__actions hstack">
        <div class="challenge-sql-executor__actions__left me-auto">
            {% block actions %}{% endblock %}
        </div>

        <div class="challenge-sql-executor__actions__right">
            {% if query is not empty and query is not same as(previousQuery) %}
                <button type="button" class="btn btn-primary"
                        data-loading="action(execute)|addAttribute(disabled)"
                        data-action="live#action"
                        data-live-action-param="execute">
                    <i class="bi bi-send"></i>
                    提交
                </button>
            {% else %}
                <button type="button" class="btn btn-primary" disabled>
                    <i class="bi bi-send"></i>
                    提交
                </button>
            {% endif %}
        </div>
    </section>
    <hr>
    <div class="challenge-sql-executor__editor border rounded"></div>
</section>
