<div{{ attributes.defaults({ class: "challenge-result-presenter" }) }}>
    <ul class="nav nav-underline nav-fill mb-3">
        {% for tab in tabs %}
            <li class="nav-item">
                <button class="nav-link {{ tab == currentTab ? 'active' : '' }}"
                        aria-current="page"
                        data-model="currentTab"
                        data-value="{{ tab }}"
                        data-action="live#update"
                >{{ "result_presenter.tabs.#{tab}"|trans }}</button>
            </li>
        {% endfor %}
    </ul>

    <div class="p-2">
        {% if currentTab == "answer" %}
            <twig:Challenge:ResultPresenterModule:AnswerPresenter :payload="this.answerPayload"/>
        {% elseif currentTab == "events" %}
            <twig:Challenge:ResultPresenterModule:EventPresenter :question="question" :user="user" />
        {% else %}
            <twig:Challenge:ResultPresenterModule:AnswerPresenter :payload="userPayload" />
        {% endif %}
    </div>
</div>
