<div {{ attributes.defaults({
    class: 'modal fade',
    tabindex: '-1',
    'aria-label': '打開解答影片',
    'aria-hidden': 'true',
    'data-video-url': path('app_challenge_solution_video', {
        id: this.question.id,
        csrf: csrf_token('challenge-solution')
    })
}|merge(stimulus_controller('challenge-solution-video-modal'))) }}>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">打開解答影片</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="關閉"></button>
            </div>
            <div class="modal-body">
                {% if this.unlocked %}
                    您已經打開過這部解答影片並扣除了 {{ this.cost }} 點數。點選「打開影片」即可再次觀看而不扣點。
                {% else %}
                    打開解答影片會扣除 <strong class="text-danger-emphasis">{{ this.cost }}</strong> 點數，確定要打開嗎？
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">繼續作答</button>
                <button
                        type="button"
                        class="btn btn-primary"
                        data-action="challenge-solution-video-modal#open"
                >
                    打開影片
                </button>
            </div>
        </div>
    </div>
</div>
