<div{{ attributes }}>
    {# modals #}
    {% if question.solutionVideo %}
        <twig:Challenge:SolutionVideoModal class="challenge-solution-video-modal" :question="question" :user="user" />
    {% endif %}
    {% if appfeatures.hint %}
        <twig:Challenge:Instruction:Modal class="challenge-instruction-modal" :question="question" :currentUser="user" :query="query" />
    {% endif %}

    <main>
        <twig:Challenge:Header class="mb-2" :question="question" :limit="limit" :user="user" />
        <hr class="opacity-50">
        <section class="app-challenge-primary row g-4">
            <div class="app-challenge-primary__left col-12 col-md-6">
                <twig:Challenge:Executor class="mt-2" data-model="query:query" :question="question" :user="user">
                    <twig:block name="actions">
                        <div class="btn-group">
                            {% if appfeatures.hint %}
                                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target=".challenge-instruction-modal">提示</button>
                            {% endif %}
                            {% if question.solutionVideo %}
                                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target=".challenge-solution-video-modal">解答影音</button>
                            {% endif %}
                        </div>
                    </twig:block>
                </twig:Challenge:Executor>

                <h4 class="mt-4">說明</h4>
                <twig:Challenge:Description class="mt-4" :question="question" loading="defer" />
            </div>

            <div class="app-challenge-primary__right col-12 col-md-6">
                <twig:Challenge:Instruction:Content :hint="hint" class="mb-2" />
                <twig:Challenge:ResultPresenter :userResult="result" :question="question" :user="user" />
            </div>
        </section>

        <section class="app-challenge-primary__comments mt-4" id="comments">
            <h3 class="mb-3">留言區</h3>
            <twig:Challenge:Comment :question="question" :currentUser="user" loading="lazy" />
        </section>
    </main>
</div>
