<section{{ attributes }}>
    <section class="d-flex justify-content-between flex-column flex-md-row mb-4 gap-2">
        <h1>{{ title }}</h1>

        <div class="d-flex gap-1">
            <form action="{{ path('app_exercises') }}" method="GET">
                <input type="search" data-model="debounce(100)|query" class="form-control" placeholder="搜尋題目……" aria-label="搜尋題目">
            </form>
        </div>
    </section>

    <twig:Questions:CardList :items="this.questions" />
</section>
