{% extends 'app.html.twig' %}

{% block nav %}<twig:Navbar active="overview" />{% endblock %}
{% block title %}學習概況{% endblock %}

{% block app %}
    <p>WIP</p>
    <p>Current points: {{ points }}</p>
{% endblock %}
