<table {{ attributes.defaults({ class: "challenge-result-event-presenter table table-light table-hover" }) }}>
    <thead>
    <tr>
        <th scope="col">查詢</th>
        <th scope="col">正確與否</th>
    </tr>
    </thead>
    <tbody>
    {% for event in this.events %}
        <tr>
            <th scope="row" class="text-truncate"><code>{{ event.query }}</code></th>
            <td>
                {% if event.status == constant('\\App\\Entity\\SolutionEventStatus::Failed') %}
                ❌
                {% elseif event.status == constant('\\App\\Entity\\SolutionEventStatus::Passed') %}
                ✅
                {% else %}
                ❓
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>

    {% include 'components/Challenge/ResultPresenterModule/Pagination.html.twig' %}
</table>
