{% set loading = false %}

<div class="placeholder-glow" aria-hidden="true">
    <div class="d-flex gap-3 mb-3">
        <div class="placeholder w-100"></div>
        <div class="placeholder w-100"></div>
        <div class="placeholder w-100"></div>
    </div>
    <hr>
    <div class="d-flex gap-3 mb-2">
        <div class="placeholder w-100"></div>
        <div class="placeholder w-100"></div>
        <div class="placeholder w-100"></div>
    </div>
    <div class="d-flex gap-3 mb-2">
        <div class="placeholder w-100"></div>
        <div class="placeholder w-100"></div>
        <div class="placeholder w-100"></div>
    </div>
    <div class="d-flex gap-3 mb-2">
        <div class="placeholder w-100"></div>
        <div class="placeholder w-100"></div>
        <div class="placeholder w-100"></div>
    </div>
</div>
