{% extends 'app.html.twig' %}

{% block title %}Hello SqlExecuteController!{% endblock %}

{% block app %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {{ form(form) }}

    <div id="result">
        {% if result %}
            <h3>Result</h3>
            <pre>{{ result }}</pre>
        {% else %}
            <p>⭐ Send request to update here!!</p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block updated_state %}
    <turbo-stream action="replace" targets="#result">
        <template>
            <h3>Result</h3>
            <p>Streamed from turbo…</p>

            {% if result %}
            <pre>{{ result }}</pre>
            {% else %}
            <div class="callout callout-danger">
                {{ error }}
            </div>
            {% endif %}
        </template>
    </turbo-stream>
{% endblock %}