{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}統計資料 – 最近登入時間{% endblock %}

{% block main %}
    <table class="table datagrid">
        <thead>
        <tr>
            <th><a href="#">帳號</a></th>
            <th><a href="#">最近登入時間</a></th>
            <th><a href="#">距今天數</a></th>
        </tr>
        </thead>
        <tbody>
        {% for result in results %}
            <tr>
                <td data-label="帳號"><a href="{{ ea_url()
                        .setController('App\\Controller\\Admin\\UserCrudController')
                        .setAction('detail')
                        .setEntityId(result.id) }}">{{ result.email }}</a></td>
                <td data-label="最近登入時間">{{ result.last_login_at ?? '沒登入過' }}</td>
                <td data-label="距今天數">{{ result.recency ?? 'N/A' }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
