<div{{ attributes }}>
    {% set result = this.result %}

    {% if result is null %}
        <div class="alert alert-info" role="alert">
            提交答案後，即可在這裡看到查詢結果。
        </div>
    {% elseif result.errorMessage is not null %}
        <div class="alert alert-danger" role="alert">
            {{ result.errorMessage|trans }}
        </div>
    {% else %}
        <div class="alert alert-success" role="alert">
            {{ 'challenge.compare-result.same'|trans }}
        </div>
    {% endif %}

    {% if result is not null and result.result %}
        <twig:Challenge:Tabs:QueryResultTable :result="result.result" />
    {% endif %}
</div>
