<div{{ attributes }}>
    {% set result = this.result %}

    {% if result is null %}
        <div class="alert alert-info" role="alert">
            {{ 'challenge.errors.no-query-yet'|trans }}
        </div>
    {% elseif result.errorMessage is not null %}
        <div class="alert alert-danger" role="alert">
            {{ result.errorMessage|trans }}
        </div>
    {% else %}
        <div class="alert alert-success" role="alert">
            {{ 'challenge.compare-result.same'|trans }}
        </div>
    {% endif %}

    {% if result is not null and result.result %}
        <twig:Challenge:Tabs:QueryResultTable :result="result.result"/>
    {% endif %}
</div>

{% macro placeholder(props) %}
    <div class="alert alert-info d-flex gap-3 align-items-center">
        <div class="spinner-grow" role="status" aria-hidden="true"></div>
        <div>正在取回答案⋯⋯</div>
    </div>
{% endmacro %}
