{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}郵件範本{% endblock %}

{% block main %}
    <table class="table datagrid">
        <thead>
        <tr>
            <th><a href="#">範本名稱</a></th>
            <th class="actions-as-dropdown-table-head">
                <span class="visually-hidden">動作</span>
            </th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td data-label="範本名稱">登入提醒</td>
                <td class="actions"><a class="btn" href="{{ ea_url().setRoute('admin_emailtemplate_loginreminder', {name: 'login_reminder'}) }}">預覽</a></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
