@import '../../vendor/thomaspark/bootswatch/dist/flatly/variables';
@import '../../vendor/twbs/bootstrap/scss/functions';

// Variables
$prefix: bs-;
$spacer: 0.8rem;
$navbar-padding-x: 1.5rem;
$navbar-padding-y: $spacer * .5;
$input-btn-border-width: var(--#{$prefix}border-width);
$input-border-width: $input-btn-border-width;
$input-height-border: calc(#{$input-border-width} * 2);
$form-floating-height: add(3.5rem*0.8, $input-height-border);
$form-floating-padding-y: 0.8rem;

@import "../../vendor/twbs/bootstrap/scss/bootstrap";

@import '../../vendor/thomaspark/bootswatch/dist/flatly/bootswatch';

body {
  font-size: 14px;
}

.v-center {
  height: 100vh;
  align-content: center;
}

.w-40 {
  width: 40%;
}

ul.credit {
  @extend .small;

  list-style: none;
  margin-bottom: 0;
}
