{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {% block header %}
        <header>
            {% block nav %}
                <twig:Navbar active="" />
            {% endblock %}
        </header>
    {% endblock %}

    <div class="app container mt-4">
        <turbo-frame id="app">
            {% block app %}{% endblock %}
        </turbo-frame>
    </div>
{% endblock %}
