{% extends 'base.html.twig' %}

{% block body %}
    {% block header %}
        <header>
            {% block nav %}
            <twig:Navbar active="" />
            {% endblock %}
        </header>
    {% endblock %}

    <div class="app container mt-4">
        {% block app %}

        {% endblock %}
    </div>
{% endblock %}
