<turbo-frame id="app-challenge-comment">
    <div class="challenge-comments">
        <div class="challenge-comments__new mb-4">
            <form>
                <label for="comment-content" class="visually-hidden">留言</label>

                <div class="d-flex gap-3">
                    <input class="form-control" id="comment-content" name="content" placeholder="給後來人留下建議⋯⋯">
                    <button type="submit" class="btn btn-primary w-auto" aria-label="送出留言">
                        <i class="bi bi-send"></i>
                    </button>
                </div>
            </form>
        </div>

        <div class="challenge-comment__comments vstack gap-2">
            {% for comment in comments %}
                <twig:Challenge:CommentModule:Comment :comment="comment" :currentUser="user" />
            {% else %}
                <div class="text-muted">尚無留言。成為第一個留言者吧！</div>
            {% endfor %}
        </div>
    </div>
</turbo-frame>
