{% extends 'app.html.twig' %}

{% block nav %}<twig:Navbar active="exercises"/>{% endblock %}
{% block title %}練習題目 – {{ question.title }}{% endblock %}

{% block app %}
    <main>
        <twig:Challenge:Header class="mb-2" :question="question" :limit="limit" />
        <hr>
        <section class="challenge-primary row">
            <div class="challenge-primary__left col">
                <twig:Challenge:Description class="mt-4" :question="question" />
                <twig:Challenge:Executor class="mt-4" :question="question">
                    <twig:block name="actions">
                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-secondary">指引</button>
                            <button type="button" class="btn btn-outline-secondary">解答影音</button>
                        </div>
                    </twig:block>
                </twig:Challenge:Executor>
            </div>

            <div class="challenge-primary__right col">
                <twig:Challenge:ResultPresenter />
            </div>
        </section>
    </main>
{% endblock %}
