{% extends 'app.html.twig' %}

{% block nav %}<twig:Navbar active="exercises"/>{% endblock %}
{% block title %}練習題目 – {{ question.title }}{% endblock %}

{% block app %}
    <main>
        <twig:Challenge:Header class="mb-2" :question="question" :limit="limit" />
        <hr>
        <twig:Challenge:Description class="mt-4" :question="question" />
        <twig:Challenge:Executor class="mt-4 w-50" :question="question">
            <twig:block name="actions">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-secondary">指引</button>
                    <button type="button" class="btn btn-outline-secondary">解答影音</button>
                </div>
            </twig:block>
        </twig:Challenge:Executor>
    </main>
{% endblock %}
