<footer{{ attributes.defaults({class: 'app-footer text-light bg-dark py-3'}) }}>
    <div class="d-flex flex-column flex-md-row gap-2 justify-content-between align-items-center container-lg">
        <div>
            © 2024 資料庫練功房
        </div>
        <div>
            <ul class="app-footer__links">
                <li>
                    <a href="https://github.com/database-playground/app-sf" target="_blank">
                        <i class="bi bi-github"></i> <span>GitHub</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url('app_feedback', {url: app.request.uri}) }}" target="_blank">
                        <i class="bi bi-bug-fill"></i> <span>意見回饋</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
