{% extends 'base.html.twig' %}

{% block body %}
<turbo-frame id="leaderboard">
    <table class="table table-hover table-light">
        <thead>
        <tr>
            <th scope="col">名字</th>
            <th scope="col">解題數</th>
        </tr>
        </thead>
        <tbody>
        {% for item in leaderboard %}
            <tr>
                <th scope="row">{{ item.user.name|u.truncate(24, '…') }}</th>
                <td>{{ item.count }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</turbo-frame>
{% endblock %}
