<button
        {{ attributes }}
        type="button"
        class="btn btn-outline-secondary"
        data-action="live#action"
        data-live-action-param="debounce(200)|instruct"
        data-loading="action(instruct)|addAttribute(disabled)"
>指引</button>
