<div{{ attributes }}>
    <button
            type="button"
            class="btn btn-outline-secondary"
            data-action="live#action"
            data-live-action-param="debounce(300)|instruct"
    >指引</button>
</div>
